<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h1 th:text="${#strings.isEmpty(user.u_id) ? 'Adicionar Usuário' : 'Editar Usuário'}"></h1>

    <form th:action="@{/users/save}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{u_id}">

        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Nome de Usuário" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Senha" required>

        <label for="securityCode">Código de Segurança:</label>
        <input type="text" id="securityCode" th:field="*{securityCode}" placeholder="Código de Segurança" required>

        <button type="submit">Salvar</button>
    </form>

    <a href="/users">Voltar para a Lista</a>
</body>
</html>
